.header{
    background-color: #252525;
    padding: 10px 0;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo{
        a{
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &-nav{
        display: flex;
        column-gap: 15px;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}
